<div class="container-fluid text-white" id="poke-list">
  <div class="row justify-content-center align-items-center">

    <div class="col-3 align-self-center d-flex flex-column">
      <div class="card bg-dark p-2">
        <label for="task-input" class="text-center">TODO</label>
        <input id="task-input" type="text" placeholder="Enter a task" [(ngModel)]="itemToAdd" value="itemToAdd">
        <button class="btn btn-success" (click)="addItem()">Add</button>
      </div>
    </div>

    <div class="col-5 mt-3">
      <ul class="list-group bg-dark">
        <li class="list-group-item bg-dark" *ngFor="let todo of todoList; index as i">
          <div class="m-2 text-center" [id]="i">
            <span style="color:green" [ngClass]="{'cross-item':todo.done}">
              <span class="text-break text-white">
                {{todo.text}}
              </span>
            </span>
          </div>

          <div class="d-flex flex-column">
            <button class="btn btn-outline-success m-2" (click)="completeItem(i)">✓</button>
            <button class="btn btn-outline-danger m-2" (click)="deleteItem(i)">✗</button>
          </div>
        </li>

        <li class="list-group-item bg-dark text-white" *ngIf="todoList.length > 0">
          Tasks: {{todoList.length}}
        </li>
      </ul>
    </div>

  </div>
</div>




