<div class="container-fluid">
  <div class="row text-white">
    <div class="h1 text-center">
      Evolutions
    </div>
    <div class="row align-content-center">
      <div class=" position-relative col-4 text-center" *ngFor="let evolution of evolutionData; index as i">
        <app-poke-card [pokeData]="evolution" [showNumber]="false"></app-poke-card>
        <fa-icon class="position-absolute end-0" [icon]="faArrowRight" *ngIf="i+1 <evolutionData.length"></fa-icon>
      </div>
    </div>
  </div>
</div>
