<div class="container-fluid w-25">
  <div class="row">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"  action="" class="add-form">
      <h2>Basic Info</h2>
      <div class="mt-4 mb-4">
        <label for="poke-name">Pokemon Name</label>
        <input class="form-control" type="text" id="poke-name" formControlName="pokemonName">
      </div>

      <div class="mt-4 mb-4">
        <label for="poke-desc">Pokemon Description</label>
        <input class="form-control" type="text" id="poke-desc" formControlName="pokemonDescription">
      </div>

      <div>
        <button type="submit" class="btn btn-outline-success">Send</button>
      </div>
    </form>
  </div>
</div>

