<div class="container-fluid">
  <div class="row align-items-end justify-content-center">
    <div class="col-2">
      <app-search-bar (searchChanged)="searchChanged($event)" [pokemons]="originalPokemonList"
                      [searchKey]="['name', 'id']"></app-search-bar>
    </div>
    <div class="text-white col-2">
      <p class="h3">Pagination</p>
      <div class="d-inline-flex page-bar">
        <button type="button" class="btn btn-outline-light me-2" (click)="changeOffset(-1)"><</button>
          <input id="list-size" type="number" class="form-control w-25" [ngModel]="offset"
                 (ngModelChange)="listSizeChanged($event)">
          <button type="button" class="btn btn-outline-light ms-2" (click)="changeOffset(1)">></button>
      </div>
    </div>
  </div>
  <div class="row mt-3" *ngIf="pokemonList.length > 0; else pokeListEmpty">
    <div class="p-2 col-sm-12 col-md-6 col-lg-2" *ngFor="let pokemon of pokemonList">
      <app-poke-card [pokeData]="pokemon"></app-poke-card>
    </div>
  </div>
  <ng-template #pokeListEmpty>
    <div class="row">
      <empty-search></empty-search>
    </div>
  </ng-template>
</div>
