<div class="container-fluid">
  <div class="row align-items-end justify-content-between">

    <div class="col-12 d-flex d-inline-flex justify-content-center">
      <div class="w-25 align-self-end">
        <app-search-bar class="" (searchChanged)="searchChanged($event)" [pokemons]="originalPokemonList"
                        [searchKey]="['name', 'id']"></app-search-bar>
      </div>
      <div class="w-25 align-self-end text-white text-center">
        <p class="h3">Pagination</p>
        <div class="d-inline-flex justify-content-center page-bar">
          <button type="button" class="btn btn-light me-2" (click)="changeOffset(-1)">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </button>
          <input id="list-size" type="number" class="form-control w-25" [ngModel]="offset"
                 (ngModelChange)="listSizeChanged($event)">
          <button type="button" class="btn btn-light ms-2" (click)="changeOffset(1)">
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </button>
        </div>
      </div>
      <div class="w-25 text-center text-white align-self-end">
        <div class="h2 text-white">Generations</div>
        <div class="text-center btn bg-light text-dark ms-2 me-2" (click)="getGeneration(generation)" *ngFor="let generation of generations">
          G{{generation}}</div>
      </div>
    </div>
  </div>

  <div class="row mt-3" *ngIf="pokemonList.length > 0; else pokeListEmpty">
    <div class="p-2 col-sm-12 col-md-6 col-lg-2 mt-2" *ngFor="let pokemon of pokemonList">
      <app-poke-card [pokeData]="pokemon"></app-poke-card>
    </div>
  </div>
  <ng-template #pokeListEmpty>
    <div class="row">
      <empty-search></empty-search>
    </div>
  </ng-template>
</div>
